{% layout none %}<!doctype html>
<html class="template-password" lang="{{ shop.locale }}">
<head>
  <title>{{ shop.name | escape }}</title>
  <meta charset="utf-8" />
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  {{ 'styles.css' | asset_url | stylesheet_tag }}
  <script>
    window.theme = window.theme || {};
    theme.strings = {
      previous: {{ 'general.accessibility_labels.previous' | t | json }},
      next: {{ 'general.accessibility_labels.next' | t | json }},
      close: {{ 'general.accessibility_labels.close' | t | json }}
    };
  </script>
  {{ content_for_header }}
</head>
<body>

  {% section 'password-template' %}

  {{ 'vendor.js' | asset_url | script_tag }}
  <script>
    $(document).on('initPasswordLogin shopify:section:load', function(){
      $('#password-login-container').hide();
      var $link = $('.password-login-link a').colorbox({inline:true, margin:0, close: '<svg height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><title>Close</title><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/></svg>'});
      if($('#password-login .errors').length) {
        $link.click();
      }
    }).trigger('initPasswordLogin');

    function handleFirstTab(e) {
      if (e.keyCode === 9) { // 9 == tab
        $('body').addClass('user-is-tabbing');
        window.removeEventListener('keydown', handleFirstTab);
      }
    }
    window.addEventListener('keydown', handleFirstTab);
  </script>

</body>
</html>
